@font-face {
    font-family: machinalight;
    src: url(./NeueMachina-Light.woff2);
}
@font-face {
    font-family: machinareg;
    src: url(./NeueMachina-Regular.woff2);
}

@font-face {
    font-family: machinabold;
    src: url(./NeueMachina-Ultrabold.woff2);
}
@font-face {
    font-family: manrope;
    src: url(./Manrope-VariableFont_wght.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html, body{
    background-color: #000;
    width: 100%;
    height: 100%;
}
main{
    background-color: rgb(0, 0, 0);
    min-height: 100%;
    width: 100%;
}

nav{
    position: absolute;
    z-index: 10;
    height: 110px;
    backdrop-filter: blur(10px);
    font-family: manrope;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 40px 68px;
}
.logo{
    width: 7%;
}
.logo img{

    height: 33.8px;
}
.middlenav{
    position: relative;
    /* box-shadow:0px 0.2px 0px 0px rgb(255, 255, 255), 0.3px 0px 0px 0px white ;  */
    padding: 13px 20px;
    border-radius: 8px;
    background: linear-gradient(to right , rgb(20, 15, 15), rgb(20, 16, 16), rgb(18, 13, 13));
    display: flex;
    gap: 33px;
}
.middlenav::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0px .5px .5px 0px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.355),
    rgba(255,255,255,0),
    rgba(255, 255, 255, 0.275)
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
     mask-composite: exclude;
    pointer-events: none; 
}
.home{
    cursor: pointer;
    height: 20px;
    width: 3vw;
    overflow: hidden;
}
.home span{
    display: inline-block;
    font-weight:400;
    font-size: 15px;
    color: white;
    transition: all ease .3s;
}
.home span:hover{
    transform: translateY(-50%);
}
.middlenav .navlight span{
        color: rgba(255, 255, 255, 0.699);
    font-weight:400;
    font-size: 15px
}
#course{
    width: 3.9vw;
}
#boot{
    width: 4.6vw;
}
#class{
    width: 4.9vw;
}
#call{
    width: 7.9vw;
}
.signin{
    display: flex;
    align-items: center;
    gap: 7px;
}
.signin img{
    border-radius: 50%;
    height: 39px;

}
.section1{
    background-image: url(https://dfdx9u0psdezh.cloudfront.net/common/Background.svg);
    position: relative;
    /* background-size:cover; */
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
}

.herotext{
    position:relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.herotext h2{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    color: rgb(232, 96, 46);
    font-weight: normal;
    margin-bottom: 10px;
    font-family: manrope;
}
.herotext h1{
    text-align: center;
    font-size: 62px;
    font-family: machinareg;
    font-weight:100;
    letter-spacing: -3;
    color: white;
    line-height: 1.1;
}
.herotext h3{
    width: 60%;
    text-align: center;
    font-size: 25;
    font-family: manrope;
    font-weight:100;
    color: rgb(255, 255, 255);
}
.section1 h1 span{
    display: inline-block;
    position: relative;
    font-size: 58px;
    height: 4.3vw;
    background:linear-gradient(to right, #993b1844, #ff581b39, #782e1339) ;
    padding: 3px 5px;
    border: 1px solid #de5b2b;
    letter-spacing: 0.5;


}
#dot1{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 4px;
    width: 4px;
}

#dot2{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50% , -50%);
    background-color: white;
    height: 4px;
    width: 4px;
}
#dot3{
    position: absolute;

    bottom:0;
    left: 0;
    transform: translate(-50% , 50%);
    background-color: white;
    height: 4px;
    width: 4px;
}
#dot4{
    position: absolute;
    bottom: 0;
    right:  0;
    transform: translate(50%, 50%);
    background-color: white;
    height: 4px;
    width: 4px;
}
.students{
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.students p span{
    margin-right:3px ;
    color: rgb(232, 96, 46);
    font-weight: 600;
}
.students p{

    margin-top:30px;
font-size: 15px;
    font-family:manrope;
    color: rgba(255, 255, 255, 0.664);
}
.studentimg{
    display: flex;
    gap: 24px;
}
.studentimg img{
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 33px;
    width: 33px;
}

#cta{
    margin-top: 40px;
    box-shadow:0.5px -0.6px 0px white, -0.8px 0px 0px white;
    color: white;
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#de5b2b, #ad451f);
}
#cta1{
    height: 20px ;
    overflow: hidden;
    width: 9vw;
}

#cta1 #hover{
    cursor: pointer;
    font-family: manrope;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    transition: all ease .3s;
}
#cta1 #hover:hover{
    transform: translateY(-110%);
    
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.videobox{
    position: relative;
    border-radius: 12px;
    align-self: center;
height: 92%;
width:70%;
box-shadow: 0px 0px 0px .18px white;
    background-color:#f6b29907;
        display: flex;
    justify-content: center;
    align-items: center;
}
.videobox video{
height: 88%;
border-radius: 8px;
}
.dotcolor{
    display: flex;
    position: absolute;
    top:3%;
    left: 3%;
    gap: 5px;
}
#keydot1 , #keydot2 , #keydot3{
    background-color: white;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
#keydot1{
    background-color: rgb(255, 80, 80);
}
#keydot2{
    background-color: rgb(252, 255, 92);
}
#keydot3{
    background-color: #94ff70;
}

.element2 img{
    height: 220px;
}
.element1 img{
    height: 220px;
}
.element1{

    position: absolute;
        top: 20%;
    right:-6.6%;
    animation: move 3s ease-in-out infinite;
    
}
.element2{
    position: absolute;
    top: 60%;
    left:-4.6%;
   animation-name: move;
   animation-timing-function: ease-in-out;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.element1 h2{
    color: white;
    font-size: 22px;
    letter-spacing: -1;
    font-family: manrope;
    font-weight: normal;
    position: absolute;
    width: 100px;
    text-align: center;
    top: 27%;
    left: 26%;

}
.element2 h2{
    color: white;
    font-size: 22px;
    letter-spacing: -1;
    font-family: manrope;
    font-weight: normal;
    position: absolute;
    width: 100px;
    text-align: center;
    top: 25%;
    line-height: 1;
    left: 24%;

}

@keyframes move {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform:translate(0%);
    }
    
}

.section3{
    min-height: 100%;
    width: 100%;
}
.companylogos{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.companylogos img{
    margin-top: 170px;
    padding: 0px 25px;
    width: 100%;
        /* transform: translateX(-100%); */

    animation: horizontal 5s linear  infinite ;
}

@keyframes horizontal {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.compcards{ 
    margin-top: 300px;
       display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 100px;
    width: 100%;
}

.instructor{
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 0px .2px white;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 140px;
    height:360px ;
    width: 370px;
}
.instructor1{
    font-family: machinareg;
    display: flex;
    justify-content: space-between;
}
.instructor1 h1{
    margin-top: 30px;
    font-size: 80;
    font-weight: normal;
    line-height: .8;
}
.instructor1 h1 p{

    font-size: 35px;
}
.instructor h2{
    font-family: manrope;
    font-weight:100;
    color: rgba(255, 255, 255, 0.604);
}

.instructor1 img{
    height: 68px;

}


#chilly{
    height: 200px;
    top: 20%;
    left: 10%;
    filter: blur(40px);
    rotate: -40deg; 
    position: absolute;
}
.community{
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 130px;
    padding-top: 60px;
    height:360px ;
    width: 370px;
    background-color: white;
}
.community button{

    justify-content: space-between;
    background-color: #000;
    color: white;
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-family: machinareg;
    padding: 15px 10px;
    width: 80%;
}

.community button svg{

    border-radius: 50%;
    height: 60px;
    padding: 12px;
    width: 60px;
    box-shadow: inset 1px 1px 20px rgba(255, 255, 255, 0.547) , 0px 0px 0px .4px white;
}
.community button h1{
    margin-left: 30px;
    font-size: 29px;
    font-weight: 100;
    line-height: 1.1;
    text-align: left;

}

.community button h1 span{
    font-size: 20px;
    margin-left: 8px;
}


.community p{
    position: relative;
    z-index: 11;
    line-height: 1;
    padding: 0px 40px;
    font-family: manrope;
    font-size: 25px;
    font-weight: 300;
}
.community p span{
    color: rgba(0, 0, 0, 0.474);
}

 .subscribers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    padding: 0px 23px;
    color: white;
    position: relative;
    border-radius: 10px;
    height:360px ;
    width: 360px;
    box-shadow: 0px 0px 0px .2px white;
    background-color: #000000;
}
.subscribers img{
    height: 74px;
}
#subs{
    height: 340px;
    position: absolute;
}
.subscribers h2{

    width: 70%;
    line-height: 1.1;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.474);
    font-family: manrope;
}
.subs1{
    position: relative;
    font-family: machinareg;
    display: flex;
    justify-content: space-between;
}
.subs1 h1{
    margin-top: 30px;
    font-size: 75px;
    font-weight: normal;
    line-height: 1;
}
.subs1 h1 p{

    font-size: 32px;
}

.section4{
    min-height:100%;
    width: 100%;
    margin-top: 12vw;
    padding-bottom: 13vw;
}
#boxtext{
    margin-bottom: 1vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 1;
    display: inline-block;
    color: rgba(255, 255, 255, 0.596);
    position: relative;
    font-size: 19px;
    height: 1.7vw;
    background:linear-gradient(to right, #993b1844, #ff581b20, #782e1339) ;
    padding: 2px 15px;
    border: 1px solid #de5b2b3e;
    letter-spacing: 0.5;
    font-family: machinalight;
    font-weight: 100;
}

.section4 h1{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3vw;
    font-family: manrope;
    font-weight: 500;
    color: white;
}

.textaccent{
    color: #de5b2b;
}
.kings{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 40px 50px;
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
}
.king1{
    flex-shrink:0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 32vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 260px;
    transition: all ease .3s;
}
#king2{
    top: 5vw;
}
.king1:hover img{
    filter: grayscale(1);
}
.king1 img{
   position: absolute;
   object-fit:cover;
   height: 100%;
   width: 100%;
       transition: all ease .3s;
}
.king11{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 15px ;
}

#sparklebtn{
    height: fit-content;
    border-radius: 100px;
    font-family: manrope;
    font-weight: 500;
    display: flex;
    opacity: 0;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 11px 18px;
   background: linear-gradient(to left,rgb(245, 78, 0),rgb(250, 92, 0), rgb(255, 102, 0));
              transition: all ease .3s;
}
.king1:hover #sparklebtn{
    opacity: 1;
}
#roundblack{
    background-color: #000;
    color: white;
    border-radius: 50%;
    padding: 13px;
           transition: all ease .3s;
    
}
.king1:hover #roundblack{
    rotate: 44.5deg;
}

#comeup{
    position: relative;
    z-index: 2;
    font-family: machinabold;
    width: 100%;
    padding: 0px 40px 0px 20px; 
    font-size: 25px;
    text-align: left;
    text-transform: capitalize;
    transform: translateY(135%);
    transition: all ease .3s;
}
.king1:hover #comeup{
    transform: translateY(0%);
}
#comeup p{
    font-size: 13.5px;
    font-family: manrope;
    font-weight: normal;
}
.orangegrad
{
    border-radius: 10px;
    background:linear-gradient(to top,#de5b2b ,#de5b2b00,#de5b2b00) ;
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    transition: all ease .3s;
}

.king1:hover .orangegrad{
    height: 100%;
}

#comeup2{
    position: relative;
    z-index: 2;
    font-family: machinabold;
    width: 100%;
    padding: 0px 40px 0px 20px; 
    font-size: 24px;
    text-align: left;
    text-transform: capitalize;
    transform: translateY(142%);
    transition: all ease .3s;
}
.king1:hover #comeup2{
    transform: translateY(0%);
}
#comeup2 p{
    font-size: 13px;
    font-family: manrope;
    font-weight: normal;
}


.section5{
    position: relative;
    padding-top: 9vw;
    padding-bottom: 9vw;
    width: 100%;
    background-color:rgb(255, 244, 240);
    border-radius: 20px;

}
#boxtext2{
    margin-bottom: 1vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: inline-block;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 19px;
    height: 1.7vw;
    background:linear-gradient(to right, #993a1841, #ff581b71, #782e1339) ;
    padding: 2px 15px;
    border: 1px solid #de5b2b;
    letter-spacing: 0.5;
    font-family: machinalight;
    font-weight: 100;
}
#boxtext2 #dot1{
    background-color: #000;
}
#boxtext2 #dot2{
    background-color: #000;
}
#boxtext2 #dot3{
    background-color: #000;
}
#boxtext2 #dot4{
    background-color: #000;
}

.section5 h1{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 3vw;
    font-family: manrope;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.center{
    display: flex;
    justify-content: center;
}
#cta2{
    height: 20px ;
    overflow: hidden;
    width: 10vw;
}

#cta2 #hover{
    cursor: pointer;
    font-family: manrope;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    transition: all ease .3s;
}
#cta2 #hover:hover{
    transform: translateY(-110%);
    
}
.coursecard3{
    top: 0;
    position: sticky;
    width: 100%;
    padding: 0px 70px 0px 70px;
}
#coursecard33{
    background-color: black;
    color: white;
}
#coursecard33 h1{
    color: white;
}
#coursecard33 h1 p{
    color: rgba(255, 255, 255, 0.434);
}
.coursecard2{
    top: 0;
    position: sticky;
    width: 100%;
    padding: 170px 70px 0px 70px;
}
.coursecard1{
    margin-top: 5vw;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 90px 70px 0px 70px;
}
.inner-coursecard{
    height: 33vw;
    padding: 50px;
    display: flex;
    gap: 5vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 0px .1px black;
}
.inner-coursecard img{
    border-radius: 10px;
    height:25vw;
}
.coursedetail{
    display: flex;
    gap: 1vw;
    flex-direction: column;
}
.coursedetail h1{
    text-align: left;
    font-family: machinareg;
    font-weight: 900;
    margin: 0px;
    width: 90%;
}
.coursedetail h1 p{
    font-size: 20px;
    font-family: manrope;
    width: 80%;
    color: rgba(0, 0, 0, 0.514);
    font-weight: 100;
}

.inner-detail{
    display: flex;
    gap: 2vw;

}
.inner-detail1 {
    display: flex;
    gap: .5vw;
    align-items: center;
}
.inner-detail1 span{
    font-family: manrope;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1vw;
}
.inner-detail1 p{
    font-size: .8vw;
    font-weight: 500;
}
.inner-detail1 svg{
    color: #de5b2b;
    border-radius: 9px;
    padding: 9px;
    background-color: rgb(252, 238, 232);
}
.coursedetail h2{
    margin-top: 2.5vw;
    font-family: manrope;
    font-weight: 500;
    font-size: 2.3vw;
}
#pricecut{
    font-weight: 300;
    font-size: 1.2vw;
    text-decoration: line-through;
}
#gst{
        font-weight: 300;
    font-size: 1.2vw;
}

#cta3{
    color: white;
    padding: 16px 24px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background: black;
}
#coursecard22{
    background-color: #de5b2b;
    color: white;
}
#coursecard22 h1{
    color: white;
    line-height: 1.1;
}
#blackaccent{
    color: rgb(0, 0, 0);
}


#cta4{
    color: rgb(0, 0, 0);
    padding: 16px 24px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}


.section6{
    padding-top: 9vw;
    padding-bottom: 9vw;
    /* height: 100%; */
    width: 100%;
    color: rgb(0, 0, 0);
}
.section6 h1{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3vw;
    font-family: manrope;
    font-weight: 500;
    color: white;
    margin-bottom: 9vw;
}
.reviews2{
        padding-top: .1vw;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.reviews{
    display: flex;
    overflow: hidden;
    width: 100%;
}
.inner-review{
    border-radius: 10px;
    position: absolute;
z-index: 2;
    padding: 20px;
    padding-top: 30px;
    gap: 2px;
    overflow: hidden;
    font-family: manrope;
height: 100%;
width: 100%;
    color: white;
    background: linear-gradient(to bottom, rgb(5, 0, 0), rgb(18, 0, 0));
    display: flex;
    flex-direction: column;
}
.lightline{
    margin-bottom: 1.5vw;
    margin-top: 1.4vw;
    height: .1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.268);
}
.review-info{
    align-items: center;
    gap: 1vw;
    display: flex;

}
#name{
    font-size: .9vw;

}
#job{

    font-size: 1vw;
    color: rgba(255, 255, 255, 0.507);
}
.review-info img{
    border-radius: 50%;
    height: 4vw;
    object-fit: cover;
    object-position: top;
}
.inner-review p{
    margin-top: .7vw;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.785);
    font-weight:100;
}

.inner-reviewborder{
    flex-shrink: 0;
    margin: 1.5vw;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 17vw;
    width: 27vw;
    padding: 1px 0px 0px 1px;
    background: linear-gradient(to left top ,rgb(0, 0, 0), black, rgba(255, 255, 255, 0.173));

    animation: horizontal 5s linear  infinite ;
}
.inner-reviewborder2{
    flex-shrink: 0;
    margin: 1.5vw;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 17vw;
    width: 27vw;
    padding: 1px 0px 0px 1px;
    background: linear-gradient(to left top ,rgb(0, 0, 0), black, rgba(255, 255, 255, 0.173));

    animation: horizontal 5s linear  infinite reverse ;
}
.reviews:hover .inner-reviewborder{
    animation-play-state: paused;

}
.reviews2:hover .inner-reviewborder2{
    animation-play-state: paused;

}

@keyframes horizontal {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-111%);
    }
}



.section7{
    width: 100%;
    /* height: 140%; */
    padding-bottom: 9vw;
    background-color: #000000;
}
.section7 h1{
    margin: auto;
    width: 40%;
    text-align: center;
    font-size: 3vw;
    font-family: manrope;
    font-weight: 500;
    color: white;
    margin-bottom: 9vw;
}

.ytcards{
    overflow: hidden;
    height: auto;
    width: 100%;
    display: flex;
}

.yt-card{  
    position: relative;
    border-radius: 1vw;
    border: .1px solid rgba(255, 255, 255, 0.244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 2vw 1vw 2vw;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 33.35px 67.61px 0px inset, rgba(0, 0, 0, 0.05) 0px 3.61px 6.31px 0px, rgba(0, 0, 0, 0.1) 0px 3.61px 3.61px 0px, rgba(0, 0, 0, 0.05) 0px 3.61px 3.61px 0px;
    margin: 0vw 0vw 0vw 2vw;
    font-family:manrope;
    transition: all ease .5s;

   
        animation-name: scroll;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;

}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
                                  transform: translateX(-530.45%);
    }}
.ytcard-img{
    height: 18.5vw;
    width: 29vw;

}
.ytcard-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:.5vw;

}
.yt-title, .yt-likes{
        position: relative;
    z-index: 1;
}
.yt-title h2{
    font-size: 1.4rem;
    font-weight:600;
    margin-bottom: .8vw;
    margin-top: .5vw;

}
.yt-likes{
    color: rgba(255, 255, 255, 0.481);
}
.yt-gradient{

    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) , black ,black, rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.01)  );
    z-index: 1;

}
.ytcards:hover .yt-card{
        animation-play-state: paused;
            transform: scale(.9);
    filter: blur(5px);

}
.ytcards:hover .yt-card:hover{
            animation-play-state: paused;
            transform: scale(1);
    filter: blur(0px);

}

.section8{
    background-color:#fff4f0;
    min-height: 100%;
    border-radius: 20px;
    padding-top: 5vw;
    padding-bottom: 2vw;
}
.section8 h1{
    margin: auto;
    width: 40%;
    text-align: center;
    font-size: 3vw;
    font-family: manrope;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.placedgrid{
    height: 120%;
    margin: 2vw 5vw;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 1.1fr;
    grid-template-rows: 1fr  1fr 1fr;
    padding: 20px;
    gap: 20px;
}
.placetop-left{
    background-color: #000000;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;

}
.placetop-left video{
    opacity: .7;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.placetop-left button{
    background: none;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}
#placetopcentergrid{
    grid-column-start: 2;
    grid-column-end: 4;
}
.placetop-center{
    height: 100%;
    width: 100%;
     background-color: #000000;
    border-radius: 10px;

     flex-shrink:0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 260px;
    transition: all ease .3s;
}
.placetop-right{
        background-color: #000000;
    border-radius: 10px;
}
.place-center1{
    background-color: #000;
    border-radius: 20px;
}
.place-center1 img{
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.place-center2{
    border-radius: 20px;
}
.placebottom{
               background-color: #100000;
    border-radius: 10px;
        grid-column-start: 1;
    grid-column-end: 4;
}
.placebottom img{
    object-position: 0px -150px;
}
.placebottom-right{
    border-radius: 10px;
    background-color: #000;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    border-radius: 10px;
    position: relative;
}
.placebottom-right video{
    opacity: .7;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.placebottom-right button{
    background: none;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}

.placetop-center:hover img{
    filter: grayscale(1);
}
.placetop-center img{
   position: absolute;
   top: 0;
   object-fit:cover;
   height: 100%;
   width: 100%;
    transition: all ease .3s;
}
.king11{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 15px ;
}

#roundblack{
    background-color: #000;
    color: white;
    border-radius: 50%;
    padding: 13px;
           transition: all ease .3s;
    
}
.placetop-center:hover #roundblack{
    rotate: 44.5deg;
}

#placeup{
    bottom: 0;
    position: absolute;
    z-index: 2;
    padding: 0px 40px 0px 20px; 
    text-align: left;
    text-transform: capitalize;
    transition: all ease .3s;
        width: 90%;
    color: white;
    font-size: 25px;
    font-family: machinabold;
    transform: translateY(130%);
}
.placetop-center:hover #placeup{
    transform: translateY(-30%);
}
#placeup p{
    font-family: manrope;
    font-weight: normal;
    font-size: 14px;
}
.placetop-center:hover .orangegrad{
    height: 160%;
}